:root {
  --background-body: var(--nord0);
  --background: var(--nord1);
  --background-alt: var(--nord2);
  --selection: var(--nord2);
  --text-main: var(--nord6);
  --text-bright: var(--nord5);
  --text-muted: var(--nord4);
  --links: var(--nord9);
  --focus: var(--nord7);
  --border: var(--nord9);
  --code: var(--nord13);
  --animation-duration: 0.1s;
  --button-hover: var(--nord2);
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(+8%));
  --form-placeholder: var(--nord4);
  --form-text: var(--nord6);
  --variable: var(--nord15);
  --highlight: var(--nord13);
  --select-arrow: svg-load('./assets/select-arrow.svg', fill: var(--nord4));
}
