:root {
  --background-body: var(--nord6);
  --background: var(--nord4);
  --background-alt: var(--nord5);
  --selection: var(--nord5);
  --text-main: var(--nord0);
  --text-bright: var(--nord1);
  --text-muted: var(--nord3);
  --links: var(--nord10);
  --focus: var(--nord8);
  --border: var(--nord10);
  --code: var(--nord1);
  --animation-duration: 0.1s;
  --button-hover: var(--nord5);
  --scrollbar-thumb: color-mod(var(--button-hover) lightness(-3%));
  --scrollbar-thumb-hover: color-mod(var(--button-hover) lightness(-10%));
  --form-placeholder: var(--nord3);
  --form-text: var(--nord0);
  --variable: var(--nord14);
  --highlight: var(--nord13);
  --select-arrow: svg-load('./assets/select-arrow.svg', fill: var(--nord3));
}
